<% ident_level = local_assigns[:ident_level] || 0 %>
<tr>
  <td scope="row">
    <div class="indent-level-<%= ident_level %>">
      <% if item[:icon].present? %>
        <%= icon(item[:icon], class: "!text-lg") %>
      <% end %>
      <span class="text-base font-semibold">
        <%= item[:name] %>
      </span>
      <% if item[:item_count].present? %>
        <span class="ml-2 inline-flex items-center justify-center w-5 h-5 text-xs font-semibold rounded-full bg-gray-3 border-secondary">
          <%= item[:item_count] %>
        </span>
      <% end %>
      <% if item.dig(:metadata, :labels).present? %>
        <div class="inline pl-4">
          <% item[:metadata][:labels].each do |key, label| %>
              <span class="label !text-sm <%= label[:level] %>">
                <%= icon(label[:icon]) if label[:icon].present? %>
                <%= label[:text] || label[:value] %>
              </span>
          <% end %>
        </div>
      <% end %>
      <% if item.dig(:metadata, :stats).present? %>
        <div class="pl-2 pt-2">
          <% item[:metadata][:stats].each do |key, label| %>
              <span class="label !text-sm <%= label[:level] %>">
                <%= label[:value] %>
                <%= label[:text] %>
              </span>
          <% end %>
        </div>
      <% end %>
    </div>
  </td>
  <td class="table-list__state">
    -- status --
  </td>
  <td class="table-list__actions">
    <span class="action-space icon">A</span>
    <span class="action-space icon">B</span>
    <span class="action-space icon">C</span>
  </td>
</tr>
<% item[:components]&.each do |component| %>
  <%= render partial: "table/row", locals: { item: component, ident_level: ident_level + 1 } %>
<% end %>
<% if item[:children]&.any? %>
  <%= render partial: "table/row", collection: item[:children], as: :item, locals: { ident_level: ident_level + 1 } %>
<% end %>